body{
background-color: #ccc;
}
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none ;
  
}
li{
  list-style: none;
}
.nav-style  {
  border: 1px solid #000;
 
}
.nav-style li {
  
   font-weight: 700;
   font-size: 24px;
   color: rgb(6, 193, 240);

}
.nav-style li a{
  display: block;
   height: 60px;
  line-height: 60px;
  padding:0px 20px  ;
  color: rgb(6, 193, 240);     
}

.nav-style li:hover a  {
  
  background-color:  rgb(6, 193, 240);
  color:aliceblue;
 

}
.about{
  padding-top: 100px;
  height: 700px;
}
.info{
  display: flex;
  width: 100%;
  height: 500px;
  /* background-color: #aaa; */
  margin-top: 30px;
}
.avatar{

  line-height: 500px;

}
.avatar img{
  overflow: hidden;
  width: 100%;
  border-radius: 50%;
  
}

.hi{
  position: relative;
  width: 70px;
  height: 50px;
line-height: 50px;
  background-color: rgb(6, 193, 240);
 font-size: 36px;
 text-align: center;
 
 
}
.hi::after {
content: '';
position: absolute;
top: 50px;
right:15px;
border-top: 20px solid rgb(6, 193, 240);
border-right: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid transparent;
}
.my-introduction {
  padding: 0;
}
.my-introduction li{
  color:#fff;
  font-size: 24px;
  font-weight: 600;

}



.skill{
  height: 600px;
  /* line-height:800px; */
  text-align: center;
  font-size: 32px;
  background-color: #aaa;
 
}
.skill-hd{
  height: 200px;
  line-height: 400px;
}
.skill-bd{
  line-height: 400px;
}
.icons div:nth-child(1)::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f15b";
   padding:15px;
  
 
  

}.icons div:nth-child(2)::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f5ae";
   padding:15px;


}.icons div:nth-child(3)::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f085";
  padding:15px;
}
.icons div::before{
  padding:15px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 5px;
  color:  rgb(6, 193, 240);
  transition:1s;
}

.icons div:hover::before { 
  background-color: rgb(6, 193, 240);
  color: #fff;

}


.contact{
  margin-top: 100px;
  height: 500px;
  /* background-color: #aaa; */
  padding: 30px;
}
.contact-me{
  height: 150px;
  line-height: 150px;
  /* background-color: #fff; */
  font-size: 36px;
  text-align: center;

}

.contact-by-mail span::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f0e0";
  font-size: 40px;
   
}
.contact-by-phone span::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f3cd";
  font-size: 40px;
}
.contact-by{
   background-color: #fff;
   padding-top:50px ;
  height: 350px;
  text-align: center;
}
.contact-by h5{
  margin: 50px 0px;
  font-size: 36px;
}
.contact-by p{

  font-size: 28px;
}

