body {
  position: relative;
  background-color: #ccc;
}

.nav-style a {
  padding: 10px;
  margin: 0px 10px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#my-navbar a {
  color: rgb(5, 156, 226);
}

.nav-bg {
  background-color: #333;
}

li {
  list-style: none;
}

.focus {
  width: 100px;
}

#my-navbar .active {
  background-color: rgb(5, 156, 226);
  color: #fff;

}

a {
  text-decoration: none;
}

.btn-style {
  background-color: #fff;
}


.about {
  margin: 150px 100px;
  padding: 150px 0px;
  background-color: #fff;
}


.info {
  padding-top: 130px;

}

.avatar {

  width: 400px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;

}

.avatar img {
  width: 100%;
}

.hi {
  position: relative;
  width: 70px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(22, 213, 238);
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
}

.product {
  font-size: 36px;
  color: rgb(22, 213, 238);
  font-weight: 700;
  margin-left: 30px;
}

.product:hover {
  color: #333;
}

.hi::before {
  position: absolute;
  top: 50px;
  left: 25px;
  content: '';
  border-top: 15px solid rgb(22, 213, 238);
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;

}

.my-introduction li {
  padding: 10px 0px;
  font-size: 36px;
}



/* skill */
.skill {
  margin: 300px 100px;
  padding: 200px 0px;
  background-color: #222;

}

.skill-hd {
  font-size: 42px;
  color: #fff;
}

.skill-bd {
  color: rgb(5, 156, 226);
}

.skill-bd div {
  padding: 50px 0px;
  text-align: center;
  font-size: 36px;

}

.skill-bd div::before {
  font-size: 42px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
  transition: all 1s;
}


.skill-bd div:nth-child(1)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  content: "\f15c";

}

.skill-bd div:nth-child(2)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  content: "\f5ae";

}

.skill-bd div:nth-child(3)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  content: "\f013";
}

.skill-bd div:hover::before {
  color: #fff;
  background-color: rgb(5, 156, 226);
}

/* contact */
.contact {
  margin: 130px 100px;
  padding: 100px;
  background-color: #aaa;
  padding: 50px;
}

.contact-me {
  font-size: 36px;
  text-align: center;

}

.contact-by {
  padding: 150px 10px;
  text-align: center;
  background-color: #fff;
  margin-top: 50px;
  font-size: 32px;
}

.contact-by p {
  margin-top: 40px;
}

.contact-by a {
  color: rgb(5, 156, 226);
}

.contact-by a:hover {
  color: #999;
}

.contact-by h5 {
  font-size: 40px;
}