$color1:#d33;

*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
ul{
   padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

.btn-style:hover{
  background-color:#f99;
}
.product-btn{
background-color: $color1;
}
.list-group-item{
    a{
      display: block;
      text-align: center;
      color:#aaa;
    }
}
.list-group-item:hover{
  background-color:#f99;
}
